@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css);

h1 {
    color: tomato
}
nav {
    float: left;

}

nav ul {
    padding: 0;
    margin: 0;
}

.first{
    margin-bottom: 2em;
}

.rand{
    margin-bottom: 2em
}

.glass img{
    
    width: 100%;
    margin: 0 auto;
    display: block;
}

.nam img{
    width: 500px;
    margin-left: 48em;
    
}
