#code{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    color: lightgreen;
    background: black;
    border: none;
    outline: none;
}

#code:focus {
    border: none;
    outline: none;    

}


body{
    background: black;
    

}

