@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');
#todo-list-input {
    width: 100%;
  }
  
  .hr {
    width: 100%;
    height: 1px;
    
    background: #aaa;
  }
  
  .todo-list-item {
    display: flex;
    justify-content: space-between;
    
    padding: 2rem 1rem;
  }
  
  .todo-list-done {
    margin-top: 0.5rem;
  }
  
  .todo-list-task {
    flex-grow: 1;
    padding-left: 2rem
  } 
  
  .todo-list-delete-item {
    margin-top: -0.88rem;
    color: tomato;
    font-size: 25px;
    cursor: pointer;
  }
  body {
      background-color: aqua;
  }
